

.app__body{
    margin-top: 100px;
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 100px;
    background-color: #F3F2EF;
}

.sidebar {

}

.main{
    
    display: flex;
    align-content: space-evenly;
    width: 50%;
}